<div class="row">

	<div class="span1"> </div>
	<div class="smurfy  span4 text-center"	>
		<h3 class="custom-h3"> Matt Quinn </h3>
			<div class="headshot">
					<%= link_to(image_tag("matt.jpg")) %>
			</div>
			<h4 class="custom-h4"> <b> Team Role: </b> Business acquisition </h4 class="custom-h4">
			<h4 class="custom-h4"> <b> Expertise: </b> Numbers and coding </h4 class="custom-h4">
				
	</div>

	<div class="smurfy span4 text-center">
		
		<h3 class="custom-h3"> Ricardo Diaz </h3>
			<div class="headshot">
				<%= link_to(image_tag("ricardo.jpg")) %>
			</div>
		<h4 class="custom-h4"> <b> Team Role: </b> Business acquisition </h4 class="custom-h4">
		<h4 class="custom-h4"> <b> Expertise: </b> Numbers and coding </h4 class="custom-h4">

	</div>

	<div class="smurfy span4 text-center">
		
		<h3 class="custom-h3"> Christine Mitchell </h3>
			<div class="headshot">
				<%= link_to(image_tag("christine.jpg")) %>
			</div>
		<h4 class="custom-h4"> <b> Team Role: </b> Business acquisition </h4 class="custom-h4">
		<h4 class="custom-h4"> <b> Expertise: </b> Numbers and coding </h4 class="custom-h4">

	</div>
</div>

<div class="row">

	<div class="span1"> </div>
	<div class="smurfy span4 text-center">
		
		<h3 class="custom-h3"> Natalie Schmitke </h3>
			<div class="headshot">
				<%= link_to(image_tag("natalie.jpg" )) %>
			</div>
		<h4 class="custom-h4"> 
			<b> Team Role: </b> Fashion content 
			<p> </p> 
			<b> Expertise: </b> Fashion and investing 
		</h4>


	</div>

	<div class="smurfy span4 text-center">
		
		<h3 class="custom-h3"> Brandon Tadesse </h3>
			<div class="headshot">
				<%= link_to(image_tag("brandon.jpg")) %>
			</div>
		<h4 class="custom-h4"> 
			<b> Team Role: </b> Design 
			<p> </p> 
			<b> Expertise: </b> Consumer design 
		</h4>

	</div>

	<div class="smurfy span4 text-center">
		
		<h3 class="custom-h3"> Asaf Gilboa </h3>
			<div class="headshot">
				<%= link_to(image_tag("asaf.jpg")) %>
			</div>
		<h4 class="custom-h4"> 
			<b> Team Role: </b> Virality 
			<p> </p> 
			<b> Expertise: </b> Drones and entrepeneurship 
		</h4>

	</div>


</div>