<!DOCTYPE html>
<html>
<head>
  <title>FirehoseAppHbs3</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

      <div class="navbar">
        <div class="navbar-inner">
 
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
           
          <a class="brand" > <%= image_tag("dyli_purple5.png", :width=> 41,  :height=> 21 )%></a>
          <div class="nav-collapse collapse">
              <!-- .nav, .navbar-search, .navbar-form, etc -->
            
      			<ul class="nav">
      			    
                <li>  
                      <%= link_to 'Home', :controller => 'static_pages', :action => 'index' %>
                
                </li>
                  
      				  <li>
      			      		<%= link_to 'How does it work', :controller => 'static_pages', :action => 'help' %>
      			    </li>
      			      
      				  <li>
      			      		<%= link_to 'Team', :controller => 'static_pages', :action => 'team'%> 
                </li>
      			      
      			    <li>
      			      		<%= link_to 'Leave feedback', :controller => 'pics', :action => 'new'%> 
      			    </li>
      			</ul>                
          </div>
        </div>
        

<%= yield %>

</body>
</html>
